body {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    background-repeat: repeat-x;
    background-image: url(../images/digital_wallet/cnb_bg_grad.jpg);
    display: block;
}

.nav-top {
    width: 600px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.article-bottom {
    width: 600px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

span.arial-bold {
    font-family: "Arial Bold", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    font-family: "Arial Bold", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: #1b67b5;
}

h1 {
    font-size: 27px;
    line-height: 33px;
}

h2 {
    font-size: 21px;
    line-height: 21px;
}

h3 {
    font-size: 17px;
    line-height: 20px;
}

h4 {
    font-family: "Arial";
    font-size: 13px;
    line-height: 13px;
}

p {
    font-family: "Arial Bold";
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: "Arial Bold";
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "Arial Bold";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

span {
    font-family: "Arial";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: #54565b;
}

footer {
    padding: 20px 0;
}

footer .footer-text {
    font-family: "Arial";
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 12px;
    color: #54565b;
}

#center-text {
    border: 0;
    border-bottom: 1px;
    border-bottom-color: black;
    border-style: dashed;
}

.nav-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

header {
    position: relative;
    width: 600px;
    padding: 0;
    margin: 10px 0;
    border: 0;
    border-bottom: 1px;
    border-bottom-color: black;
    border-style: dashed;
}

.container {
    width: 600px;
    /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.item {
    padding-right: 10px;
}

#info {
    max-width: 322px;
}

.top {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.left {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.right {
    margin-left: auto;
}

img.hero-image {
    margin: 0;
    padding: 0;
    bottom: 0;
}

#pic {
    padding: 0;
    height: 275px;
}
